body {
    background: linear-gradient(45deg, rgb(23, 23, 37), black, rgb(23, 23, 37)) ;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: darkorange;
}

p {
    color: palevioletred
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70vh;
}